<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Produtos</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header id="pagina-listar-produtos-header">
        <h1>Lista de Produtos Cadastrados</h1>
    </header>
    <main id="pagina-listar-produtos-main">
        <!-- Seção para mensagens flash -->
        <div id="pagina-listar-produtos-mensagem">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <ul>
                    {% for category, message in messages %}
                        <li class="flash {{ category }}">{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>

        <table id="pagina-listar-produtos-table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Preço de Venda (R$)</th>
                    <th>Preço de Compra (R$)</th>
                    <th>Quantidade | Valor do Estoque</th>
                    <th>Observação</th>
                    <th>Editar Produto ou Excluir Produto</th>
                </tr>
            </thead>
            <tbody>
                {% for produto in produtos %}
                <tr>
                    <td>{{ produto.nome }}</td>
                    <td>R$ {{ produto.preco }}</td>
                    <td>R$ {{ produto.preco_compra }}</td>
                    <td>{{ produto.quantidade }}</td>
                    <td>{{ produto.observacao if produto.observacao else '' }}</td>
                    <td>
                        <a href="{{ url_for('editar_produto', id=produto._id) }}">Editar Produto</a>
                        <span class="separator">|</span>
                        <a onclick="return confirm('Tem certeza que deseja excluir este produto?')" href="{{ url_for('remover_produto', id=produto._id) }}">Excluir Produto</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div id="pagina-listar-produtos-links">
            <a href="{{ url_for('exportar_produtos') }}" class="export-link">Exportar Produtos em CSV</a>
            <form action="{{ url_for('importar_produtos') }}" method="post" enctype="multipart/form-data" class="form">
                <button type="submit" class="import-submit">Importar Produtos de CSV</button>
                <input type="file" name="file" required>
            </form>
        </div>

        <div id="pagina-listar-produtos-links-voltar">
            <p><a href="{{ url_for('index') }}">Voltar</a></p>
        </div>
    </main>
    <footer id="pagina-listar-produtos-footer">
        <p>&copy; 2024 Sistema de Vendas e Controle de Estoque</p>
    </footer>
</body>
</html>
